<div>
  <div class="aligner">
    <canvas (click)="addBlock()" #canvas style="border: 1px solid white"></canvas>
    <div class="aligner-item--top" style="display: flex; flex: 1 1 100%; flex-direction: column">
      <app-editor-tools #editortools style="display: flex; flex: 1 1 100%;" (blockChanged)="block = $event" (gridSizeChanged)="gridSize = $event"
        [tileTextures]="resourceService.asset.tileTextures" [enemyTextures]="resourceService.asset.enemyTextures" [playerTexture]="resourceService.asset.playerTexture" [endTexture]="resourceService.asset.endTexture"></app-editor-tools>
    </div>
  </div>
  <div style="width: 1200px" class="full-flex">
    <span style="color: #ed490a;" class="full-flex"><span class="clickable" (click)="export()">Export</span></span><span class="full-flex">{{mousePosition[0]}}, y: {{mousePosition[1]}}</span> 
  </div>
</div>