<div style="display: flex; flex: 1 1; flex-direction: row; border: 1px solid; border-radius: 5px; padding: 10px;">
  <div class="full-flex" style="flex-direction: column">

    <div *ngFor="let tileAssets of tileAssetList;">
      <div style="display: inline-block;" *ngFor="let row of tileCollumns; let i = index;">
        <img *ngIf="tileAssets[i]" (click)="setBlock(tileAssets[i])" style="width: 50px; height: 50px; padding-right: 4px" [src]="tileAssets[i].image.src"
        />
      </div>
    </div>

    <div class="full-flex" style="flex-direction: column;">
      <div style="display: flex; flex: 1 1 100%; flex-direction: row">
        <input type="number" class="input-number" [(ngModel)]="block.blockSize[0]" />
        <input type="range" max="500" [(ngModel)]="block.blockSize[0]" />
      </div>

      <div style="display: flex; flex: 1 1 100%; flex-direction: row">
        <input #inputHeight type="number" class="input-number" [(ngModel)]="block.blockSize[1]" />
        <input #blockHeight type="range" max="500" [(ngModel)]="block.blockSize[1]">
      </div>

      <div style="display: flex; flex: 1 1 100%; flex-direction: row">
        <div class="full-flex" style="font-size: 18px; font-weight: bold">
          Gridsize
        </div>
      </div>

      <div style="display: flex; flex: 1 1 100%; flex-direction: row">
        <input #gridSizeInput type="number" class="input-number" [(ngModel)]="gridSize" />
      </div>

    </div>


  </div>
</div>